@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@layer components {
    .cfm-header {
        @apply text-cfm-white text-4xl font-cfm-hammersmith;
    }

    .cfm-subheader {
        @apply text-cfm-white text-lg font-cfm-cormorant;
    }
}

.spacer {
    width: 100%;
    aspect-ratio: 1440 / 810;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: bottom;
}

/* width */
::-webkit-scrollbar {
    @apply w-1;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-cfm-dark-grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    @apply rounded-xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-cfm-white;
}
